{% extends "base.html" %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light rounded mb-5 py-4" style="background-color: white; font-size: large; opacity: 1; box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);">
      <a class="navbar-brand" href="#"><div class="d-flex align-items-center">
        <a href="/" class="logo d-flex ">
         <div class="icon">
          <i class="fa fa-rss fa-lg mx-1 mt-1" style="color: rgba(12, 12, 105, 0.932);"></i>
         </div>
         
          <span>RSS FeedMixer</span>
        </a>
      </div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse align-items-center me-5 pe-5" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          
        </ul>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/add">{{user.first_name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link" href="/register">Register</a>
          </li>
        {% endif %}
      </ul>
      </div>
    </nav>
{% endblock %}

{% block content %}


    <!-- <div class="pagetitle">
      <h1>Blank Page</h1>
    
    </div>End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <p class="card-title" style="font-size: 1.5rem;">What is a RSS Feed Mixer?</p>
              <ul style="list-style:none; font-size: large;">
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>An RSS feed is a file that contains a summary of updates from a website, often in the form of a list of articles with links.</li>
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>RSS is used by people to stay informed about news, podcasts, and other information online.</li>
                <li><i class="fa fa-check-circle me-2" style="color: green;"></i>RSS Feed Mixer can be used to mix multiple RSS Feeds and get feeds on topics of your interest.</li>
              </ul>
              <p class="card-title" style="font-size: 1.5rem;">How to use RSS Feed Mixer?</p>
              <ul style="list-style:none; font-size: large;">
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>Enter the URL address of each feed.</li>
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>Press Add button to add multiple feeds.</li>
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>Enter feed per url to limit feeds per url.</li>
                <li class="mb-2"><i class="fa fa-check-circle me-2" style="color: green;"></i>Press Submit to create your personal RSS feed.</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <p class="card-title" style="font-size: 1.5rem;">Get your feed mixed here!</p>
              {% if user.is_authenticated %}
              <div class=" text-center mt-5">
                <h4 class="mb-3">Get your feedmix</h4>
                <h5><a href="/add" class="btn btn-primary mx-3">Feedmix<i class="fa fa-rss-square ms-2"></i></a></h5>
              </div>
              {% else %}
              <div class=" text-center">
                <h4 class="mb-3">Are you new here?</h4>
                <h5>Please register here <a href="/register" class="btn btn-primary mx-3">REGISTER<i class="fa fa-user-plus ms-2"></i></a></h5>
              </div>
              <div class=" text-center mt-5">
                <h4 class="mb-3">If you already have an account</h4>
                <h5>Login here<a href="/login" class="btn btn-primary mx-3">LOGIN<i class="fa fa-sign-in ms-2"></i></a></h5>
              </div>
              {% endif %}
            </div>
          </div>

        </div>

      </div>
    </section>
    
  

  {% endblock %}

  {% block footer %}
  <footer class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>RSS FeedMixer</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->
  {% endblock %}