{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block content %}
<style>
  
  .card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li {
    padding: .5rem 0;
    color: #6c757d;
}
  .alert {
    padding: 20px;
    background-color: #00ff4c;
    color: rgb(255, 255, 255);
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }



  @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.wrapper{
  display: inline-flex;
  background: #fff;
  height: 500px;
  width: 1000px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-2:checked:checked ~ .option-2{
  border-color: #00d924;
  background: #00d924;
}
#option-1:checked:checked ~ .option-1{
  border-color: #0069d9;
  background: #0069d9;
}
#option-3:checked:checked ~ .option-3{
  border-color: #d90000;
  background: #d90000;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-3:checked:checked ~ .option-3 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
</style>

{% if message.1 == 'success' %}
<div class="container" style="width: 600px; margin-top: 30px;">
  
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <strong>{{ message.0 }}</strong>
    </div>
{% elif message.1 == 'error' %}
  <div class="alert" style="background-color: #ff0000;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>{{ message.0 }}</strong>
  </div>
</div>
{% endif %}
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="/" class="logo d-flex align-items-center w-auto">
                <div class="icon">
                    <i class="fa fa-rss mx-1" style="color: rgba(12, 12, 105, 0.932); font-size: 1.5rem;"></i>
               </div>
              <span class="d-lg-block">RSS FeedMixer</span>
            </a>
          </div><!-- End Logo -->

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                <p class="text-center small">Enter your personal details to create account</p>
              </div>

              <form action="/register" class="row g-3 needs-validation" method="POST">
                <div class="col-12">
                  <label for="yourName" class="form-label">Your Name</label>
                  <input type="text" name="name" class="form-control" id="yourName" required>
                  <div class="invalid-feedback">Please, enter your name!</div>
                </div>

                <div class="col-12">
                  <label for="yourEmail" class="form-label">Your Email</label>
                  <input type="email" name="email" class="form-control" id="yourEmail" required>
                  <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                </div>

                <div class="col-12">
                  <label for="yourPassword1" class="form-label">Password</label>
                  <input type="password" name="password1" class="form-control" id="yourPassword1" required>
                  <div class="invalid-feedback">Please enter your password!</div>
                </div>

                <div class="col-12">
                    <label for="yourPassword2" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="yourPassword2" required>
                    <div class="invalid-feedback">Please confirm password!</div>
                </div>

                <div class="col-12">
                  <div class="wrapper">
                    <input type="radio" value="Basic" name="select" id="option-1" checked>
                    <input type="radio" value="Pro" name="select" id="option-2">
                    <input type="radio" value="Premium" name="select" id="option-3">
                      <label for="option-1" class="option option-1">
                        <span>
                          <h1>Basic</h1>
                          <h2>&#x20B9; 0 <span>/Month</span>  </h2>
                          <h3>3<span> Max Urls</span> </h3>  
                        <h3>2<span> Max Feeds</span> </h3>
                        </span>
                        
                         </label>
                      <label for="option-2" class="option option-2">
                        <span>
                          <h1>Pro</h1>
                          <h2>&#x20B9; 50 <span>/Month</span>  </h2>
                          <h3>50<span> Max Urls</span> </h3>  
                        <h3>50<span> Max Feeds</span> </h3>
                        </span>
                      </label>
                      <label for="option-3" class="option option-3">
                        <span>
                          <h1>Premium</h1>
                          <h2>&#x20B9; 200 <span>/Month</span>  </h2>
                          <h3>100<span> Max Urls</span> </h3>  
                        <h3>500<span> Max Feeds</span> </h3>
                        </span>
                        
                      </label>
                   </div>
                </div>


                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Create Account</button>
                </div>
                <div style="text-align: center;" class="col-12">
                  <p  class="small mb-0">Already have an account? <a href="/login">Log in</a></p>
                </div>
              </form>

        </div>
      </div>
    </div>

  </section>

{% endblock %}